@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-white: #ffffff;
  --primary-dark-grey: #666666;
  --primary-orange: #f9ab00;
  --primary-navbar: rgba(18, 23, 133, 0.48);
}

body {
  font-family: "Raleway", sans-serif !important;
}

/******************* NAVBAR *******************/

/*-------- MENU LINKS --------*/
nav a.nav-link {
  font-weight: 300;
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.navbar-brand {
  font-weight: 300 !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-white);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-white);
}

.navbar-dark .navbar-toggler {
  border: 0;
}
.bg-dark-blur {
  background-color: var(--primary-navbar) !important;
  backdrop-filter: blur(5px) !important;
}

.navbar {
  border-bottom: 0.063rem solid var(--primary-white) !important;
}
